<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Garment</title>
</head>
<body>
    <h1>Add a Garment</h1>
    <form action="/garments/<%= garment._id %>?_method=PUT" method="post">
        <label for="name">Nama Garment</label>
        <input type="text" name="name" id="name" value="<%= garment.name %>">
        <label for="location">Lokasi</label>
        <input type="text" name="location" id="location" value="<%= garment.location %>">
        <label for="contact">Kontak</label>
        <input type="text" name="contact" id="contact" value="<%= garment.contact %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>